/* Interface.css */
.interface-container {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: #F0F0F0;
}

.interface-section {
  margin-bottom: 10px;
}

.interface-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

.interface-tapis,
.interface-historique {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
}
