/* Interface.css */
.interface-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Équilibre le haut et le bas */
  height: 92%; /* Prend toute la hauteur disponible */
  padding: 20px;
  background-color: #F0F0F0;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
}

.interface-layout {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Tapis à gauche, historique à droite */
  gap: 10px;
}

.interface-tapis,
.interface-historique {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;  
}

.roulette-table {
  display: flex;
  justify-content: center; /* Centre horizontalement le tapis */
}
