/* Manager.css */

::placeholder {
  font-size: 12px;
}

.capital-update {
  /* insérer les propriétés par défaut */
  width : 50%;
  text-align : center;
}

/* Conteneur principal de Manager */
.manager-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

/* Conteneur Capital et Sécurité */
.manager-capital-security-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Deux colonnes */
  gap: 20px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  padding: 10px;
  background-color: #F0F0F0;
}

.capital-input {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.security-controls {
  display: flex;
  flex-direction: column; /* Conserver l'alignement vertical */
  gap: 2px; /* Espacement vertical réduit entre les labels */
}

.security-controls label {
  display: flex;
  justify-content: space-between; /* Aligner le texte et l'input */
  align-items: center;
  font-size: 14px; /* Uniformiser la taille de police */
  gap: 10px;
}

.input-security,
.input {
  width: 45%; /* Taille compacte des inputs */
  padding: 5px;
  font-size: 12px;
}

/* Compte à rebours */
.countdown {
  padding-top: 5px;
  text-align: center;
  background-color: #f0f0f0;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

/* Conteneur Gestion des Méthodes */
.manager-methods-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Deux colonnes */
  gap: 20px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  padding: 10px;
  background-color: #F0F0F0;
  height: 250px;
}

.icon-check {
  color: green; /* Couleur pour montrer que la configuration est terminée */
  cursor: not-allowed; /* Curseur normal pour indiquer que l'icône est statique */
}

.icon-cog {
  color: blue; /* Définit la couleur de l'engrenage */
  cursor: pointer; /* Change le curseur sur survol */
}

/* Icône active (cliquable) */
.icon-pencil.active {
  color: blue; /* Couleur pour l'état actif */
  cursor: pointer; /* Change le curseur pour indiquer qu'il est cliquable */
}

/* Icône inactive (non cliquable) */
.icon-pencil.inactive {
  color: gray; /* Couleur grise pour l'état inactif */
  cursor: not-allowed; /* Indique que l'icône n'est pas cliquable */
}

.method-checked {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 5px;
} 

.method-selected {
  padding: 5px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #f9f9f9;
}

.selected-container {
  background: #fff;
  height: max-content;
  padding: 10px;
  border-radius: 5px;
}

/* Ajout de styles pour la modale */
.config-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.config-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.config-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.config-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.config-buttons button:first-child {
  background-color: #007bff;
  color: white;
}

.config-buttons button:first-child:hover {
  background-color: #0056b3;
}

.config-buttons button:last-child {
  background-color: #ccc;
}

.config-buttons button:last-child:hover {
  background-color: #999;
}

/* Commandes */
.manager-commands {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  background-color: #f0f0f0;
}

/* Footer */
.manager-footer {
  display: flex;
  justify-content: space-between;  
  padding-top: 10px;
  background-color: #f9f9f9;
  border-top: 1px solid #c7c7c7;
  background: #f0f0f0;
}

.manager-footer .game-status {
  font-weight:normal;
}

.manager-footer .help-icon {
  cursor: pointer;
}
